<link rel="stylesheet" href="stylesheets/buyRead.css">
<link rel="stylesheet" href="stylesheets/likesList.css">

<!-- start of likes list -->
<div class='container buy-read col-xs-5 col-sm-7' id='buyRead'>
	<div>
		<button type="button" 
			style="cursor: default; z-index: 500;"
			class="tooltipp btn-likes-list btn btn-default btn-lg"> <!-- ng-disabled="!$ctrl.userPrivel"  -->
			<span data-toggle="modal" data-target="#myModal"
				data-toggle="tooltip" data-placement="top"> <!-- title={{$ctrl.usersListHtml}}  -->
				<img src="resources/glyphicons-344-thumbs-up.jpg"> <b>{{$ctrl.countLikers}}</b>
				Likes
			</span>

			<div id="myTool" class=" tooltipptext">
				<div ng-repeat="user in $ctrl.userNamesList" class=" tooltipptext">
					<a ng-if="$ctrl.userPrivel" ng-click="$ctrl.clickedAName(user)">{{user.userNickname}}</a>
					<span ng-if="!$ctrl.userPrivel" > <!-- ng-disabled="!$ctrl.userPrivel"  -->{{user.userNickname}}</span>
				</div>
			</div>

<!-- end of likes list -->

<!-- start of buttons: Read, Buy, Like, Unlike-->
		</button>
		<button ng-if="!$ctrl.ebook.isPurchased" type="button"
			ng-click="$ctrl.clickedBuy()" class="btn btn-info btn-lg "
			data-toggle="modal" data-target="#myModalBuy">Buy</button>
		<button ng-if="$ctrl.ebook.isPurchased" type="button"
			ng-click="$ctrl.clickedRead()" class="btn btn-info btn-lg ">Read</button>
		<button ng-if="(!$ctrl.isLiked && $ctrl.ebook.isPurchased)"
			type="button" ng-click="$ctrl.submitLike()"
			class="btn btn-primary btn-lg ">Like</button>
		<button ng-if="$ctrl.isLiked" type="button"
			ng-click="$ctrl.submitLike()" class="btn btn-primary btn-lg">unlike</button>

<!-- end of buttons: Read, Buy, Like, Unlike-->

	</div>

	<!-- Modal -->
<!-- 	<div class="modal " id="myModalBuy" role="dialog"> -->
<!-- 		<div class="modal-dialog .modal-lg"> -->

<!-- 			<!-- Modal content--> 
<!-- 			<div class="modal-content"> -->
<!-- 				<div class="modal-header"> -->
<!-- 					<button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- 					<h4 class="modal-title">Pay Here!</h4> -->
<!-- 				</div> -->
<!-- 				<div class="modal-body"> -->
<!-- 					<p>ENTER CREDIT CARD AND OTHER BILLING DETAILS.</p> -->
<!-- 					<input></input> <input></input> <input></input> <input></input> <input></input> -->
<!-- 					<input></input> -->
<!-- 				</div> -->
<!-- 				<div class="modal-footer"> -->
<!-- 					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
<!-- 				</div> -->
<!-- 			</div> -->

<!-- 		</div> -->
<!-- 	</div> -->

	<!-- Modal for suggesting last scoll position only if already read book (scroll > 0) -->
	<div class="modal container" id="myModalScroll" role="dialog">
		<div class="modal-dialog .modal-sm">
			<!-- Modal content-->
			<div class="modal-content col-xs-12">
				<div class="modal-header">
					<button type="button" class="close  " data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Would you like to go to where you
						stopped?</h4>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default"
						ng-click="$ctrl.goToLastScroll(true)">Yes</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-default "
						ng-click="$ctrl.goToLastScroll(false)">No</button>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
		<!-- end of Modal for suggesting last scoll position only if already read book (scroll > 0) -->
	
	
</div>




