<link rel="stylesheet" href="stylesheets/ebookDetails.css">

<style > 
.img-user-review {
width: 100px;
height: 100px;
border-radius: 100%;
}

.review-details {
}
</style>




<!-- review - a component represent a single review of a user on ebook -->
<div class= "" style="">
	<span class="" >
		<img class="col-xs-3  img-user-review "
		src={{$ctrl.review.userImageUrl}}>
		<div >
			<h4>
			</h4>
			<div class='col-xs-9  details-list list-unstyled'>
				<div ><span class="col-xs-10"><em><u>{{$ctrl.review.userNickname}}</u></em></span>
			<button ng-if="showApproveButton" data-toggle="modal" class="button btn-info" ng-click="approveReview()" > Approve</button>
				
				</div>
 
				
				<br>
				<div><span>{{$ctrl.review.description}}</em></span></div>
				

			</div>
		</div>
	</span>
</div>
