<link rel="stylesheet" href="stylesheets/reviewEbook.css">

<!-- a list of all approved reviews of ebook -->


<div class='container'>
	<div class='col-xs-12'>
		<button class="btn btn-info btn-lg"
			ng-click="$ctrl.getAllReviewsOfThisEbook()">Reviews for this
			book: Click!</button>

		<div class='row'>


			<ul class="chat style-2 details-list list-unstyled" id="reviwsList" ng-show="$ctrl.isCollapsed">
				           <li class="col-xs-12"  ng-repeat="review in reviewsList"><review review="review"> </review> </li>

			</ul>


		</div>


	</div>

</div>







