<!doctype html>
<html lang="en" id="body">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">

<script src="lib/jquery-3.2.1.js"></script>
<link rel="stylesheet"
	href="
			lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="lib/angular.min.js"></script>

<link rel="stylesheet" href="stylesheets/index.css">
<script src="js/app.js"></script>
<script src="js/catalog.js"></script>

<script src="js/ebookDetails.js"></script>
<script src="js/navbarComp.js"></script>
<script src="js/navbarCompFixed.js"></script>
<script src="js/reviewForm.js"></script>
<script src="js/review.js"></script>
<script src="js/reviewListEbook.js"></script>
<script src="js/likesList.js"></script>
<script src="js/buyReadLikes.js"></script>
<script src="js/ebookPage.js"></script>
<script src="js/userPurchases.js"></script>
<script src="js/reviewsListAll.js"></script>
<script src="js/lastTransactions.js"></script>
<script src="js/usersList.js"></script>
<script src="js/userDetails.js"></script>
<script src="js/profile.js"></script>
<script src="js/paymentForm.js"></script>
<script src="js/login.js"></script>
<script src="js/focusingUserInput.js"></script>
<script src="js/register.js"></script>
<script src="js/userDetailsForAdmin.js"></script>




<title>KRE Store</title>
</head>

<body ng-app="myApp">
	<div class="content" ng-controller='MainCtrl as ctrl' id="bodyId">
		<div class="container">
			<header class="page-header">
				<div class="row">
					<div class="col-md-10">
						<h1 style="content: '\e125';">KRE - Books for all!</h1>
					</div>
					<div class="col-md-2">
						<img id="logo" class="img-circle col-xl-12"
							src="resources/logo.bmp">
						<div></div>
			</header>
		</div>
		<!-- navbar-comp-fix: the main navbar of the application -->
		<navbar-comp ng-if="!curPage.includes('contents/')"
			cur-page="ctrl.curPage" user-id="ctrl.userId"
			user-privel="userPrivel" isShowCatalog="ctrl.isShowCatalog"></navbar-comp>
		<!-- navbar-comp-fix: a navbar for reading only -->
		<navbar-comp-fixed ng-if="curPage.includes('contents/')"
			cur-page="ctrl.curPage" user-id="ctrl.userId"
			user-privel="userPrivel" isShowCatalog="ctrl.isShowCatalog"></navbar-comp-fixed>
		<div id="idCurPageInclude" class="container">
			<div ng-include="curPage"></div>
		</div>

		<!-- Modal - register / login -->
		<div class="modal container modal-register" id="myModalRegisterLogin"
			role="dialog">
			<div class="modal-dialog .modal-lg modal-register">

				<!-- Modal content-->
				<div class="modal-content col-xs-12">
					<div class="modal-header">

						<h4 class="modal-title">
							<strong>Welcome to KRE - Books For All!</strong>
						</h4>
						<div ng-include="modalCurPath"></div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>