.review-details {
	border: 2px solid white;
	border-radius: 8%;
	margin-bottom: 10px;
} 


img {
	/*need this to cancel this attribute who takes care images in READ BOOK page are not too big. this fix shows the reviewer photo */
	max-width: 10000px; 
}


.img-circle {
  margin-top: 2px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

